<!DOCTYPE html>
<html>
  <head>
    <title>Techpitgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render 'partial/navbar' if current_user %>

      <% if flash[:notice] %>
        <div class="aleart aleart-info">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:aleart] %>
        <div class="aleart aleart-danger">
          <%= flash[:aleart]%>
        </div>
      <% end %>

      <%= yield %>

      <%= render 'partial/footer' %>
    </div>
  </body>
</html>
